@font-face {
    font-family: VercettiRegular;
    src: url(Vercetti-Regular.ttf);
  }

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'VercettiRegular';
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    background-color: #1F2937;
    color: #fff;
    padding: 5px;
  } 

  .header {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .header a {
    margin: 5px;
    color: white;
  }

.flex-main-container {
    display: flex;
    flex-direction: column;
    }

.first-box{
    display: flex;
    
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    width: auto;
    height: 100%;

    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
}

.first-box .item {
    width: 50%;
}

.first-box .title-image{
    width: 35%;
    height: 35%;
}

.title-text {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.first-box h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}


.title-text button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.title-text p {
    opacity: 0.8;
}

.second-box {
    align-items: center;
    padding: 10px;

}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;
    margin: 10px;
}

.image-box img {
    width: 150px;
    height: 150px;
    object-fit: cover;

    border-radius: 20px;
    border: 1px solid grey;
}

.image-box p {
    opacity: 0.7;
}

.third-box {
   
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 120px;
}

.quote p {
    font-size: 26px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0;
}

.quote b {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
}

.third-box {
    display: flex;

    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    background-color: #1F2937;

    margin: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.sign-up {
    text-align: left;
    margin-left: 15px;
    color: white;
}

.sign-up-item {
    margin: 0;
}

.third-box button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
    margin: 15px;
}

.footer {
    background-color: #1F2937;
    color: #fff;
}